<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485538210352-k3313ftvorbrqbug7eheb8evp0cdtner.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485538210352-k3313ftvorbrqbug7eheb8evp0cdtner</string>
	<key>API_KEY</key>
	<string>AIzaSyAsKDSRakKXvONfVz8wxS7iOnr2wup-uu8</string>
	<key>GCM_SENDER_ID</key>
	<string>485538210352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantBookingManagement</string>
	<key>PROJECT_ID</key>
	<string>restaurant-booking-management</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-booking-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485538210352:ios:c71c1d9f5c320a242b43f5</string>
</dict>
</plist>